* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
}

header {
  background-color: #06D6A0;
  width: 100%;
  overflow: hidden;
  height: 50px;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

img {
  width: 100%;
}

h3 {
  font-size: 22px;
  padding: 10px 0;
}

p {
  font-size: 19px;
  padding: 10px 0;
}


/*HEADER*/
.logo {
  font-size: 18px;
  color: white;
  float:left;
}

.navbar li {
  display: inline-block;
}

.navbar {
  position: absolute;
  right: 0;
  padding: 15px 0;
}

/*WELCOME*/
.welcome {
  background-color: #26547C;
  overflow: hidden;
  color: white;
}

.welcome-img {
  width: 60%;
  float: left;
}

.welcome h2 {
  font-size: 38px;
  text-align: center;
  display: inline-block;
  width:40%;
  padding-top: 30px;
}

/*CATS*/
.cats {
  background-color: #FFD166;
}

/*PRODUCTS*/
.products, .cats, .about {
  padding: 40px 20px;
}

.products {
  background-color: #F2F2F2;
}

.product-container {
  padding: 0 5px;
}

.product-container li {
  display: inline-block;
  width: 33.33%;
  padding: 10px;
}

.products img {
  border: 3px solid black;
}


/*ABOUT*/
.about {
  background-color: #26547C;
}

.about h3 {
  color:#EF476F;
  float: left;
  width: 33.33%;
  text-align: center;
  overflow: hidden;
  padding-bottom: 40px;
}

.about p {
  clear: both;
  color: white;
}


/*FOOTER*/
footer {
  background-color: #06D6A0;
  text-align: right;
  padding: 15px 20px 15px 0;
  font-size: 19px;
}
