* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  background-color: white;
}

header {
  background-color: #06D6A0;
  width: 100%;
  overflow: hidden;
  height: 50px;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

img {
  width: 100%;
}

h1 {

}

h2 {

}

.logo {
 color: white;
 float:left;
}

.navbar li {
  display: inline-block;
}

.navbar {
  position: absolute;
  right: 0;
  padding: 15px 0;
}

.welcome {
  background-color: #26547C;
  overflow: hidden;
  color: white;
}

.welcome-img {
  width: 60%;
  float: left;
}

.welcome-txt {
  text-align: center;
  display: inline-block;
  width:40%;
}

.cats {
  background-color: #FFD166;
}

.products {
  background-color: #F2F2F2;
}

.product-container {
  padding: 0 20px;
}

.product-container li {
  display: inline-block;
  width: 33.33%;
  padding: 10px;
}

.products img {
  border: 3px solid black;
}

.about {
  background-color: #26547C;
}

.about h3 {
  color:#EF476F;
}

footer {
  background-color: #06D6A0;
}
